@import "./mixin.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .sec1 {
    @include section100;

    .mainAvatar {
      position: relative;

      .starRotate {
        width: 430px;
        height: 400px;
        position: absolute;
        top: auto;
        left: auto;
        user-select: none;
        filter: contrast(0.5);
        animation: spin 45s linear infinite;
        transition: filter 0.3s;
        z-index: 3;
      }

      .mypic {
        width: 360px;
        height: 360px;
        border-radius: 50%;
        cursor: pointer;
        filter: grayscale(1);
        transition: filter 0.3s;
        z-index: 4;
      }
    }
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .sec1 {
    &:has(.mypic:hover) {
      background-color: #ceac38;
      color: #f7f7f7;

      .starRotate {
        filter: sepia(3);
      }
      .mypic {
        filter: none;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
